<div class="drawbox">
  <h1>お絵かき画面</h1>
  <p><canvas id="draw_canvas" width="640px" height="480px"></canvas></p>
  <p><input type="text" name="title" placeholder="絵のタイトル"></input></p>
  <input id="eroIllust" type="checkbox">えろい？
  <button class="save">保存する</button>
</div>
<div class="tool">
  <input id="randomMode" type="checkbox" checked="checked">ランダムモード
  <p><input id="lineColor" type="color" name="color"></input></p>
  <input id="lineWidth" type="range">
  <button id="allDelete">全消去！</button>
</div>
<script src="/js/draw.js"></script>
