<div id ="header">
  <h1>Sketch nano</h1>
</div>
<div id ="main">
  <div class="parts">
    <h2>sketch nanoとは？<h2>
    <ul>
      <li>絵が描ける！</li>
      <li>投稿できる！</li>
      <li>みんなの投稿をみれる！</li>
      <li>"すき"をつけれる！</li>
    </ul>
    <div id ="enter">
      <p><a href="/dashboard">入り口</a></p>
    </div>
  </div>
</div>
